html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    /* Evita desbordes horizontales */
    box-sizing: border-box;
    /* Asegura un manejo adecuado de los tamaños */
}

*,
*::before,
*::after {
    box-sizing: inherit;
    /* Aplica box-sizing a todos los elementos */
}